$footer_bgColor: #f7f7f7;
$footer_color: #e67e22;
$footer_fontSize: 14px;
$footer_borderTop: #eeeeee;

.container-footer_style {
	background-color: $footer_bgColor;
	border-top: 5px solid $footer_borderTop;

	.logo-footer_center {
		cursor: default;

		@include media-breakpoint-down(sm) {
			display: inline-block;
			width: 100%;
			text-align: center;
		}
	}

	address {
		font-size: $footer_fontSize;

		a {
			color: $footer_color;
		}

		span {
			margin-right: 10px;
		}

		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
}
