$nav-link-color: black; // 導航項目文字顏色
$npp-bg-color: #ffc107;

.container-content_padding {
	@include media-breakpoint-up(lg) {
		padding-top: 93px;
	}

	@include media-breakpoint-up(xl) {
		padding-top: 100px;
	}
}

.fixed-top.fixed-top_mobile {
	position: static;

	@include media-breakpoint-up(lg) {
		position: fixed;
	}
}

.logo {
	img {
		width: 180px;

		@include media-breakpoint-up(md) {
			width: 250px;
		}

		@include media-breakpoint-up(xl) {
			width: 280px;
		}
	}
}

.nav-icons {
	position: absolute;
	top: 4.5px;
	right: 80px;
	width: 40px;

	a,
	img {
		width: 30px;
		height: 30px;
	}

	@include media-breakpoint-up(sm) {
		width: 110px;
		top: 13.5px;

		a,
		img {
			width: 50px;
			height: 50px;
		}
	}

	@include media-breakpoint-up(md) {
		top: 21px;
	}

	@include media-breakpoint-up(lg) {
		top: 0;
		right: 8px;
		width: 70px;

		a,
		img {
			width: 30px;
			height: 30px;
		}
	}
}

.navbar-dark {
	.navbar-nav a.nav-link {
		color: $nav-link-color;
		font-size: 16px;
	}
}
